.QA {
  // width: 50vw;
  font-family: $QA-text;
  color: $text-color;
  font-weight: 400;
  padding: 32px 0px;
  border-bottom: 1px solid $lines-color;

  h3 {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 16px;
  font-weight:500;
  font-size:1.3em;
}

  ul {
    display: flex;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 10px 16px;
    margin: 5px 10px;
    font-size: 1.1em;
  }
}

/* Default styling for answers */

@mixin answer-styles {
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid $lines-color;
  border-radius: 8px;
 }

 .answer {
  @include answer-styles;
  cursor: pointer;
 }

 .answer-selected {
  @include answer-styles;
  background-color: rgba(8, 86, 201, 0.27);
 }

.correct-answer {
  @include answer-styles;
  border: 2px solid $answer-correct-color;
  cursor: default;
}

.answer-checked {
  @include answer-styles;
  cursor: default;
}

.correct {
  @include answer-styles;
  background-color: $answer-correct-color;
  border: 2px solid $answer-correct-color;
  color: #e5eee6;
  font-weight: 600;
  cursor: default;
}
.incorrect {
  @include answer-styles;
  background-color: $answer-incorrect-color;
  border: 2px solid $answer-incorrect-color-border;
  cursor: default;
}
