


// Colors
$text-color: #072E68;
$lines-color: rgba(7, 46, 104, 0.18);
$background-box-color: #ECF6FA;
$main-button-color: #C86F4E;
$button-text-color: #FFF7F4;
$answer-selected-color: rgba(8, 86, 201, 0.27);
$answer-correct-color: #0F8A1C;
$answer-incorrect-color: rgba(201, 8, 8, 0.27);
$answer-incorrect-color-border: rgba(201, 8, 8);


// Typography
$font-title: 'Macondo Swash Caps', cursive;
$font-text: 'Mako', sans-serif;
$QA-text: 'League Spartan', sans-serif;

// shadows
$button-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-drop-shadow: 7px 12px 12px rgba(5, 26, 59, 0.7);
