


// Colors
$text-color: #072E68;
$background-box-color: #ECF6FA;
$main-button-color: #C86F4E;
$button-text-color: #FFF7F4;
$answer-selected-color: rgba(8, 66, 201, 0.27);


// Typography
$font-title: 'Macondo Swash Caps', cursive;
$font-text: 'Mako', sans-serif;

// shadows
$button-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-drop-shadow: 7px 12px 12px rgba(5, 26, 59, 0.7);
