@import 'variables';
@import 'QA';

* {
  margin: 0;
}


.main-screen {
  height: 100vh;
  background-color: #EDCBA0;
  display: flex;
justify-items: center;
align-items: center;
}

.start-screen {
  display: flex;
  flex-direction: column;
}
