* {
  margin: 0;

}


/* Default styling for answers */
.answer {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
 }
 
 /* Styling for the selected answer */
 .answer-selected {
  background-color: #dff0d8; /* Light green background */
  border-color: #d6e9c6; /* Darker green border */
 }